.one-d-agent {
  .cell {
    border: 1px solid #555;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .cell:disabled {
    cursor: not-allowed;
  }

  .reward {
    background-image: url('/icons/diamond.png');
  }

  .wall {
    background-image: url('/icons/wall.png');
    background-size: 135%;
    background-color: sandybrown;
  }

  .fire {
    background-image: url('/icons/fire.webp');
  }

  .agent {
    background-image: url('/icons/agent.png');
  }

  .fire.agent {
    /* display both the images with fire on top corner of agent */
    background-image: url('/icons/fire.webp'), url('/icons/agent.png');
    background-size: 60%, contain;
    background-position:
      top right,
      center;
  }

  .reward.agent {
    background-image: url('/icons/diamond.png'), url('/icons/agent.png');
    background-size: 60%, contain;
    background-position:
      top right,
      center;
  }
}
